{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="content" class="body">

   <div class="row">
        <div class="eleven columns">


            <header>
            <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">{{ article.title }}
                </a>
            </h2>
           {% import 'translations.html' as translations with context %}
           {{ translations.translations_for(article) }}
            </header>
            <footer class="post-info">
            <address>
                <span class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }}</span>
                {% if article.author %}<span class="vcard author">, by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span>{% endif %}
                {% if DISQUS_SITENAME %} | <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Comments</a>{% endif %}
                <span>
                    {% for tag in article.tags %}
                    <a class="danger label" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
                    {% endfor %}
                </span>
            </address>
            </footer><!-- /.post-info -->
            <div class="entry-content">
              {{ article.content }}
            </div><!-- /.entry-content -->
            {% if DISQUS_SITENAME %}
            <div class="comments">
              <h3>Comments</h3>
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                var disqus_identifier = "{{ article.url }}";
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + '{{ DISQUS_SITENAME}}.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
            </div>
            {% endif %}

        </div><!-- /.eleven.columns -->
        
     {% include 'sidebar.html' %}
 </div><!-- /.row -->

</section>
{% endblock %}
