<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FAVICON_URL %}
        <link href="{{ SITEURL }}/{{ FAVICON_URL }}" rel="shortcut icon" type="image/x-icon">
        {% endif %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/gumby.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/pygment.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/pygment-dark.css" media="(prefers-color-scheme: dark)" id="pygment-dark-link" disabled />

        <script src="{{ SITEURL }}/theme/js/libs/modernizr-2.6.2.min.js"></script>


          {% if GOOGLE_ANALYTICS_ID %}
              <script type="text/javascript">
                  var _gaq = _gaq || [];
                  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
                  _gaq.push(['_setDomainName', 'grapeot.me']);
                  _gaq.push(['_trackPageview']);
                  (function() {
                   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                   })();
              </script>
          {% endif %}

        {% endblock head %}
</head>

<body id="index" class="home">


    <div class="container">

        <div class="row">

          <header id="banner" class="body">
                  <h1><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
          </header><!-- /#banner -->

            <div id="navigation" class="navbar row">
              <a href="#" gumby-trigger="#navigation &gt; ul" class="toggle"><i class="icon-menu"></i></a>
             
              <ul class="columns">
                <li><a href="{{ SITEURL }}">Home</a></li>

            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% else %}
              {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                  <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
              {% endif %}
            {% endif %}

                <!-- Add Theme Toggle Icon Button Here -->
                <!--
                <li style="float: right;"> 
                  <button id="theme-toggle" title="Toggle theme" style="background: none; border: none; cursor: pointer; font-size: 1.2em; padding: 0 10px; line-height: inherit; color: inherit;">
                  </button>
                </li>
                -->
              </ul>
              <!-- Move button here, outside the ul but inside the navbar div -->
              <button id="theme-toggle" title="Toggle theme" style="background: none; border: none; cursor: pointer; font-size: 1.2em; padding: 0 10px; margin-left: auto; /* Push to right with flex */ color: inherit;">
                <!-- Initial icon set by JS -->
              </button>
            </div>

          {% block content %}

          {% endblock %}

       </div><!-- /.row -->
    </div><!-- /.container -->

       <div class="container.nopad bg">

        <footer id="credits" class="row">
          <div class="seven columns left-center">

                   <address id="about" class="vcard body">
                    Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                    which takes great advantage of <a href="http://python.org">Python</a>.
                    <br />
                    Based on the <a target="_blank" href="http://gumbyframework.com">Gumby Framework</a>
                    </address>
          </div>


          <div class="seven columns">
            <div class="row">
              <ul class="socbtns" style="list-style-type: none">

                {% if GITHUB_URL %}
                <li><div class="btn primary"><a href="{{ GITHUB_URL }}" target="_blank">Github</a></div></li>
                {% endif %}

                {% if TWITTER_URL %}
                <li><div class="btn twitter"><a href="{{ TWITTER_URL }}" target="_blank">Twitter</a></div></li>
                {% endif %}

                {% if FACEBOOK_URL %}
                <li><div class="btn facebook"><a href="{{ FACEBOOK_URL }}" target="_blank">Facebook</a></div></li>
                {% endif %}

                {% if GOOGLEPLUS_URL %}
                <li><div class="btn danger"><a href="{{ GOOGLEPLUS_URL }}" target="_blank">Google+</a></div></li>
                {% endif %}

              </ul>
            </div>
          </div>
        </footer>

    </div>

  <script src="{{ SITEURL }}/theme/js/libs/jquery-1.9.1.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/libs/gumby.min.js" defer></script>
  <script src="{{ SITEURL }}/theme/js/plugins.js" defer></script>
  <script src="{{ SITEURL }}/theme/js/theme-toggle.js" defer></script>
  {% if article and article.latex %}
  {{ article.latex }}
  {% endif %}
  {% if page and page.latex %}
  {{ page.latex }}
  {% endif %}
  {% include 'disqus_script.html' %}

</body>
</html>
