<div class="three columns">

{% if SHOW_PAGES_IN_SIDEBAR %}
<h4 class="sidebar-h4">Pages</h4>

 <ul>
  {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in PAGES|sort(attribute='source_path') %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}
  </ul>
{% endif %}

{% if categories %}
{% if SHOW_PAGES_IN_SIDEBAR %}
<h4>Categories</h4>
{% else %}
<h4 class="sidebar-h4">Categories</h4>
{% endif %}
<ul>
	{% for cat, null in categories %}
		<li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat }}</a></li>
	{% endfor %}
</ul>
{% endif %}

<h4>Tags</h4>
{% if tags %}
	{% for tag, articles in tags|sort %}
	    <span class="sidebar-tags tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
	{% endfor %}
{% endif %}

<h4>Recent Comments</h4>
<div id="dsq-recentcomments" class="dsq-widget">
    <script src="https://{{ DISQUS_SITENAME }}.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=10&excerpt_length=26"></script>
</div>

{% if SOCIAL %}
<nav class="widget">
  <h4>Social</h4>
  <ul>
  {% for url, name in SOCIAL %}
    <li><a href="{{ url|e }}">{{ name }}</a></li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

</div>
