.highlight .hll { background-color: #292e42 }
.highlight { background: #1a1b26; color: #c0caf5 }
.highlight .c { color: #565f89; font-style: italic } /* Comment */
.highlight .err { color: #f7768e } /* Error */
.highlight .k { color: #bb9af7 } /* Keyword */
.highlight .l { color: #ff9e64 } /* Literal */
.highlight .n { color: #c0caf5 } /* Name */
.highlight .o { color: #7aa2f7 } /* Operator */
.highlight .p { color: #c0caf5 } /* Punctuation */
.highlight .ch { color: #565f89; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #565f89; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #7dcfff } /* Comment.Preproc */
.highlight .cpf { color: #565f89; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #565f89; font-style: italic } /* Comment.Single */
.highlight .cs { color: #565f89; font-style: italic } /* Comment.Special */
.highlight .gd { color: #f7768e } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #9ece6a } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #565f89 } /* Generic.Subheading */
.highlight .kc { color: #bb9af7 } /* Keyword.Constant */
.highlight .kd { color: #bb9af7 } /* Keyword.Declaration */
.highlight .kn { color: #7aa2f7 } /* Keyword.Namespace */
.highlight .kp { color: #bb9af7 } /* Keyword.Pseudo */
.highlight .kr { color: #bb9af7 } /* Keyword.Reserved */
.highlight .kt { color: #7dcfff } /* Keyword.Type */
.highlight .ld { color: #9ece6a } /* Literal.Date */
.highlight .m { color: #ff9e64 } /* Literal.Number */
.highlight .s { color: #9ece6a } /* Literal.String */
.highlight .na { color: #7dcfff } /* Name.Attribute */
.highlight .nb { color: #c0caf5 } /* Name.Builtin */
.highlight .nc { color: #7dcfff } /* Name.Class */
.highlight .no { color: #ff9e64 } /* Name.Constant */
.highlight .nd { color: #7dcfff } /* Name.Decorator */
.highlight .ni { color: #c0caf5 } /* Name.Entity */
.highlight .ne { color: #7dcfff } /* Name.Exception */
.highlight .nf { color: #7aa2f7 } /* Name.Function */
.highlight .nl { color: #c0caf5 } /* Name.Label */
.highlight .nn { color: #c0caf5 } /* Name.Namespace */
.highlight .nx { color: #7dcfff } /* Name.Other */
.highlight .py { color: #c0caf5 } /* Name.Property */
.highlight .nt { color: #f7768e } /* Name.Tag */
.highlight .nv { color: #c0caf5 } /* Name.Variable */
.highlight .ow { color: #7aa2f7 } /* Operator.Word */
.highlight .w { color: #c0caf5 } /* Text.Whitespace */
.highlight .mb { color: #ff9e64 } /* Literal.Number.Bin */
.highlight .mf { color: #ff9e64 } /* Literal.Number.Float */
.highlight .mh { color: #ff9e64 } /* Literal.Number.Hex */
.highlight .mi { color: #ff9e64 } /* Literal.Number.Integer */
.highlight .mo { color: #ff9e64 } /* Literal.Number.Oct */
.highlight .sa { color: #9ece6a } /* Literal.String.Affix */
.highlight .sb { color: #9ece6a } /* Literal.String.Backtick */
.highlight .sc { color: #9ece6a } /* Literal.String.Char */
.highlight .dl { color: #9ece6a } /* Literal.String.Delimiter */
.highlight .sd { color: #565f89; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #9ece6a } /* Literal.String.Double */
.highlight .se { color: #ff9e64 } /* Literal.String.Escape */
.highlight .sh { color: #9ece6a } /* Literal.String.Heredoc */
.highlight .si { color: #ff9e64 } /* Literal.String.Interpol */
.highlight .sx { color: #9ece6a } /* Literal.String.Other */
.highlight .sr { color: #9ece6a } /* Literal.String.Regex */
.highlight .s1 { color: #9ece6a } /* Literal.String.Single */
.highlight .ss { color: #9ece6a } /* Literal.String.Symbol */
.highlight .bp { color: #c0caf5 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #7aa2f7 } /* Name.Function.Magic */
.highlight .vc { color: #c0caf5 } /* Name.Variable.Class */
.highlight .vg { color: #c0caf5 } /* Name.Variable.Global */
.highlight .vi { color: #c0caf5 } /* Name.Variable.Instance */
.highlight .vm { color: #c0caf5 } /* Name.Variable.Magic */
.highlight .il { color: #ff9e64 } /* Literal.Number.Integer.Long */
